.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer';
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
    height: 50vh;
}

#content {
    grid-area: content;
    height: 50vh;
}

#footer {
    grid-area: footer;
}