.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 40vh;
    /* horizontal */
    justify-content: center;
    /* vertical */
    align-items: center;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}