* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.name, .address {
    display: flex;
    flex-direction: row;
}

input {
    width: 100px;
}